In [0]:
import pandas as pd
import gzip

In [0]:
df= pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines= True)
#Zipped File

In [3]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
dff= df[:200]

In [12]:
dff.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
str1= 'Good functionality, but not durable like old HPs happening grudge'

In [0]:
import nltk
import spacy

In [0]:
from nltk import WordNetLemmatizer

In [14]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [23]:
 nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [9]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [0]:
lemmatizer= WordNetLemmatizer()

In [0]:
mwe= nltk.MWETokenizer()

In [34]:
nltk.word_tokenize(str1)

['Good',
 'functionality',
 ',',
 'but',
 'not',
 'durable',
 'like',
 'old',
 'HPs',
 'happening',
 'grudge']

In [42]:
lemmatizer.lemmatize(str1)

'Good functionality, but not durable like old HPs happening grudge'

In [38]:
nltk.pos_tag(str1.split())

[('Good', 'JJ'),
 ('functionality,', 'NNS'),
 ('but', 'CC'),
 ('not', 'RB'),
 ('durable', 'JJ'),
 ('like', 'IN'),
 ('old', 'JJ'),
 ('HPs', 'NNP'),
 ('happening', 'NN'),
 ('grudge', 'NN')]

In [36]:
lemmatizer.lemmatize('I am going to a game')

'I am going to a game'

In [45]:
mwe.tokenize(str1.split())

['Good',
 'functionality,',
 'but',
 'not',
 'durable',
 'like',
 'old',
 'HPs',
 'happening',
 'grudge']

In [0]:
def nltkk(str):
  d= dict()
  d['Tokenizer']= nltk.word_tokenize(str)
  d['Lemmetizer']= lemmatizer.lemmatize(str)
  d['POS_Tag']= nltk.pos_tag(str.split())
  d['MWE_Tokenizer']= mwe.tokenize(str.split())
  return d

In [49]:
nltkk(str1)

{'Lemmetizer': 'Good functionality, but not durable like old HPs happening grudge',
 'MWE_Tokenizer': ['Good',
  'functionality,',
  'but',
  'not',
  'durable',
  'like',
  'old',
  'HPs',
  'happening',
  'grudge'],
 'POS_Tag': [('Good', 'JJ'),
  ('functionality,', 'NNS'),
  ('but', 'CC'),
  ('not', 'RB'),
  ('durable', 'JJ'),
  ('like', 'IN'),
  ('old', 'JJ'),
  ('HPs', 'NNP'),
  ('happening', 'NN'),
  ('grudge', 'NN')],
 'Tokenizer': ['Good',
  'functionality',
  ',',
  'but',
  'not',
  'durable',
  'like',
  'old',
  'HPs',
  'happening',
  'grudge']}

In [19]:
dff['NLTK']= dff.reviewText.apply(nltkk)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
dff.head()

       reviewerID  ...                                               NLTK
0  A32T2H8150OJLU  ...  {'Tokenizer': ['I', 'bought', 'my', 'first', '...
1  A3MAFS04ZABRGO  ...  {'Tokenizer': ['WHY', 'THIS', 'BELATED', 'REVI...
2  A1F1A0QQP2XVH5  ...  {'Tokenizer': ['I', 'have', 'an', 'HP', '48GX'...
3   A49R5DBXXQDE5  ...  {'Tokenizer': ['I', ''ve', 'started', 'doing',...
4  A2XRMQA6PJ5ZJ8  ...  {'Tokenizer': ['For', 'simple', 'calculations'...

[5 rows x 10 columns]

In [0]:
def adj_count(str):
  count= 0
  tagged= nltk.pos_tag(str.split())
  for (word, tag) in tagged:
     if tag =='JJ':
       count +=1
  return count

In [24]:
adj_count(str1)

3

In [25]:
dff['Adjective Count']= dff.reviewText.apply(adj_count)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
dff.head()

       reviewerID        asin  ...   reviewTime Adjective Count
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004              16
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007              58
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011               8
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006              53
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013              11

[5 rows x 10 columns]

In [0]:
#Rasa Library