In [0]:
import pandas as pd
import gzip

In [0]:
df= pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines= True)
#Zipped File

In [17]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
dff= df[:200]

In [19]:
dff.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
str1= 'Good functionality, but not durable like old HPs happening grudge'

In [0]:
import nltk
import spacy

In [0]:
nlp = spacy.load("en_core_web_sm")

In [0]:
doc= nlp(str1)

In [0]:
from spacy.tokenizer import Tokenizer
from spacy.lang.en import English

In [0]:
#nlp = English()
tokenizer = Tokenizer(nlp.vocab)

In [0]:
token= tokenizer(str1)

In [57]:
for word in doc:
 print(word, word.pos_ , word.lemma_,)

Good ADJ good amod
functionality NOUN functionality ROOT
, PUNCT , punct
but CCONJ but cc
not ADV not neg
durable ADJ durable conj
like ADP like prep
old ADJ old amod
HPs NOUN hp pobj
happening VERB happen acl
grudge NOUN grudge dobj

In [0]:
def spacyy(str):
  doc= nlp(str)
  token = []
  lemma = []
  pos = []
  dep = []
  noun_count= 0
  for word in doc:
    token.append(word.text)
    pos.append(word.pos_)
    dep.append(word.dep_)
    lemma.append(word.lemma_)
    if word.pos_ == 'NOUN':
      noun_count +=1
  d= {'Tokenizer': token, 'POS Tags': pos, 'Dependency Parser':dep, 'Lemmatization':lemma, 'Number of Nouns':noun_count}
  return d

In [78]:
spacyy(str1)

{'Dependency Parser': ['amod',
  'ROOT',
  'punct',
  'cc',
  'neg',
  'conj',
  'prep',
  'amod',
  'pobj',
  'acl',
  'dobj'],
 'Lemmatization': ['good',
  'functionality',
  ',',
  'but',
  'not',
  'durable',
  'like',
  'old',
  'hp',
  'happen',
  'grudge'],
 'Number of Nouns': 3,
 'POS Tags': ['ADJ',
  'NOUN',
  'PUNCT',
  'CCONJ',
  'ADV',
  'ADJ',
  'ADP',
  'ADJ',
  'NOUN',
  'VERB',
  'NOUN'],
 'Tokenizer': ['Good',
  'functionality',
  ',',
  'but',
  'not',
  'durable',
  'like',
  'old',
  'HPs',
  'happening',
  'grudge']}

In [80]:
dff['spaCy']= dff.reviewText.apply(spacyy)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [81]:
dff.head()

       reviewerID  ...                                              spaCy
0  A32T2H8150OJLU  ...  {'Tokenizer': ['I', 'bought', 'my', 'first', '...
1  A3MAFS04ZABRGO  ...  {'Tokenizer': ['WHY', 'THIS', 'BELATED', 'REVI...
2  A1F1A0QQP2XVH5  ...  {'Tokenizer': ['I', 'have', 'an', 'HP', '48GX'...
3   A49R5DBXXQDE5  ...  {'Tokenizer': ['I', ''ve', 'started', 'doing',...
4  A2XRMQA6PJ5ZJ8  ...  {'Tokenizer': ['For', 'simple', 'calculations'...

[5 rows x 10 columns]

In [0]:
#Rasa Library