In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
df= pd.read_csv('/UCI_Credit_Card.csv')

In [9]:
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [31]:
df['default.payment.next.month'].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64

In [0]:
from sklearn.preprocessing import MinMaxScaler

In [0]:
scaler= MinMaxScaler()

In [0]:
X= df.drop(['default.payment.next.month'], 1)

In [0]:
y= df['default.payment.next.month']

In [0]:
cols= list(X)

In [0]:
X= pd.DataFrame(scaler.fit_transform(X), columns= cols)

In [22]:
X.head()

         ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0  0.000000   0.010101  1.0   0.333333  ...  0.000000  0.000000  0.000000  0.000000
1  0.000033   0.111111  1.0   0.333333  ...  0.001116  0.001610  0.000000  0.003783
2  0.000067   0.080808  1.0   0.333333  ...  0.001116  0.001610  0.002345  0.009458
3  0.000100   0.040404  1.0   0.333333  ...  0.001339  0.001771  0.002506  0.001892
4  0.000133   0.040404  0.0   0.333333  ...  0.011160  0.014493  0.001615  0.001284

[5 rows x 24 columns]

In [0]:
from sklearn.model_selection import train_test_split as tts

In [0]:
x_train, x_test, y_train, y_test = tts(X, y, test_size = 0.3, random_state=42)

In [0]:
from sklearn.naive_bayes import GaussianNB

In [0]:
model = GaussianNB()

In [26]:
model.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
pred = model.predict(x_test)

In [0]:
from sklearn.metrics import classification_report

In [30]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.88      0.70      0.78      7040
           1       0.38      0.66      0.48      1960

    accuracy                           0.69      9000
   macro avg       0.63      0.68      0.63      9000
weighted avg       0.77      0.69      0.72      9000