In [0]:
import pandas as pd
import gzip

In [0]:
from textblob import TextBlob

In [0]:
df= pd.read_csv('https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv')
#Zipped File

In [0]:
df.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [0]:
dff= df

In [0]:
str1= 'Good functionality, but not durable like old HPs happening grudge'

In [0]:
TextBlob(str1).sentiment.polarity

0.39999999999999997

In [0]:
def polarity(str):
  testimonial= TextBlob(str)
  score= testimonial.sentiment.polarity
  return score

In [0]:
dff['Sentiment TextBlob']= dff.TweetText.apply(polarity)

In [0]:
dff.head()

   Topic  ... Sentiment TextBlob
0  apple  ...           0.000000
1  apple  ...           0.500000
2  apple  ...           0.393750
3  apple  ...           0.541667
4  apple  ...           0.200000

[5 rows x 6 columns]

In [0]:
import nltk

In [0]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/86/9e/c53e1fc61aac5ee490a6ac5e21b1ac04e55a7c2aba647bb8411c9aadf24e/vaderSentiment-3.2.1-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 2.7MB/s
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.2.1

In [10]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [12]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [0]:
analyzer= SentimentIntensityAnalyzer()

In [0]:
analyzer.polarity_scores('Good functionality, but not durable like old HPs happening grudge')

{'compound': -0.1815, 'neg': 0.211, 'neu': 0.634, 'pos': 0.155}

In [0]:
def nltk_polarity(str):
  scores= analyzer.polarity_scores(str)
  del scores['compound']
  maxx= max( scores, key=scores.get)
  return maxx, scores[maxx]

In [0]:
nltk_polarity(str1)

('neu', 0.634)

In [0]:
dff['Sentiment NLTK']= dff.TweetText.apply(nltk_polarity)

In [0]:
dff.head()

   Topic Sentiment  ...  Sentiment TextBlob Sentiment NLTK
0  apple  positive  ...            0.000000     (neu, 1.0)
1  apple  positive  ...            0.500000   (neu, 0.801)
2  apple  positive  ...            0.393750   (neu, 0.591)
3  apple  positive  ...            0.541667   (neu, 0.814)
4  apple  positive  ...            0.200000   (neu, 0.791)

[5 rows x 7 columns]

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
def classify(num):
  if num <0:
    return 'negative'
  elif num == 0:
    return 'neutral'
  else:
    return 'positive'

In [0]:
dff['Classification']= dff['Sentiment TextBlob'].apply(classify)

In [0]:
dff.head()

   Topic Sentiment  ...  Sentiment NLTK Classification
0  apple  positive  ...      (neu, 1.0)        neutral
1  apple  positive  ...    (neu, 0.801)       positive
2  apple  positive  ...    (neu, 0.591)       positive
3  apple  positive  ...    (neu, 0.814)       positive
4  apple  positive  ...    (neu, 0.791)       positive

[5 rows x 8 columns]

In [0]:
dff.Sentiment.value_counts()

neutral       2333
irrelevant    1689
negative       572
positive       519
Name: Sentiment, dtype: int64

In [0]:
confusion_matrix(dff['Sentiment'], dff['Classification'])

array([[   0,   61, 1366,  262],
       [   0,  234,  171,  167],
       [   0,  201, 1213,  919],
       [   0,   38,  124,  357]])

In [0]:
amazon= pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines= True)

In [5]:
amazon.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
amazon['Sentiment TextBlob']= amazon.reviewText.apply(polarity)

In [8]:
amazon.head()

       reviewerID        asin  ...   reviewTime Sentiment TextBlob
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004           0.180000
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007           0.170939
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011           0.204091
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006           0.214217
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013           0.350000

[5 rows x 10 columns]

In [0]:
amazon['Sentiment NLTK']= amazon.reviewText.apply(nltk_polarity)

In [16]:
amazon.head()

       reviewerID        asin  ... Sentiment TextBlob Sentiment NLTK
0  A32T2H8150OJLU  B00000JBLH  ...           0.180000   (neu, 0.781)
1  A3MAFS04ZABRGO  B00000JBLH  ...           0.170939   (neu, 0.872)
2  A1F1A0QQP2XVH5  B00000JBLH  ...           0.204091    (neu, 0.72)
3   A49R5DBXXQDE5  B00000JBLH  ...           0.214217   (neu, 0.814)
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...           0.350000   (neu, 0.823)

[5 rows x 11 columns]

In [0]:
import glove

In [0]:
#Rasa Library