In [0]:
import pandas as pd
import gzip

In [0]:
df= pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines= True)
#Zipped File

In [3]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
dff= df

In [0]:
def letters(str):
  d= dict()
  d['Consonants']= 0
  d['Vowels']= 0
  d['Total Count'] =0
  vowels = set("aeiou")
  words= str.lower().split(" ")
  for word in words:
    d['Total Count'] +=1
    for letter in word:
      if letter in vowels:
        d['Vowels'] +=1
      elif letter.isalpha():
        d['Consonants'] +=1
  return d

In [6]:
letters('Hello World!')

{'Consonants': 7, 'Total Count': 2, 'Vowels': 3}

In [0]:
dff['Count']= dff['reviewText'].apply(letters)

In [8]:
dff.head()

       reviewerID  ...                                              Count
0  A32T2H8150OJLU  ...  {'Consonants': 437, 'Vowels': 279, 'Total Coun...
1  A3MAFS04ZABRGO  ...  {'Consonants': 2685, 'Vowels': 1504, 'Total Co...
2  A1F1A0QQP2XVH5  ...  {'Consonants': 235, 'Vowels': 134, 'Total Coun...
3   A49R5DBXXQDE5  ...  {'Consonants': 1775, 'Vowels': 1089, 'Total Co...
4  A2XRMQA6PJ5ZJ8  ...  {'Consonants': 338, 'Vowels': 208, 'Total Coun...

[5 rows x 10 columns]

In [0]:
import re

In [0]:
str= 'Good functionality, but not durable like old HPs happening grudge'

In [11]:
re.findall(r'\b[bB]\w+', str)

['but']

In [12]:
re.findall(r'\w+[gG]\b', str)

['happening']

In [0]:
def reg(str):
  word= re.findall(r'\b[bB]\w+ | \w+[gG]\b', str )
  return word

#r is for regex
#\b is for the boundary of the sentence
#\w+ is for mentioning there is some characters present

In [14]:
reg('Good functionality, but not durable like old HPs happening grudge')

['but ', ' happening']

In [0]:
dff['Regular Expression']= dff['reviewText'].apply(reg)

In [16]:
dff.head()

       reviewerID  ...                                 Regular Expression
0  A32T2H8150OJLU  ...  [bought ,  travelling, but , by , buy ,  49G, ...
1  A3MAFS04ZABRGO  ...  [BELATED ,  sharing,  burying,  praising,  inc...
2  A1F1A0QQP2XVH5  ...                   [been ,  giving, But ,  working]
3   A49R5DBXXQDE5  ...  [ doing,  looking, been , because ,  long, but...
4  A2XRMQA6PJ5ZJ8  ...  [business ,  practicing, but , be , brackets ,...

[5 rows x 11 columns]