In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
amazon= pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines= True)

In [3]:
amazon.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
str1= ' It has Good functionality, but it is not durable and does not have good functionality like old HPs used to have'

In [0]:
import nltk

In [6]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [10]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer

In [0]:
stop_words= set(stopwords.words('english'))

In [0]:
tokenizer= RegexpTokenizer(r'\w+')

In [27]:
tokenizer.tokenize(str1)

['It',
 'has',
 'Good',
 'functionality',
 'but',
 'it',
 'is',
 'not',
 'durable',
 'like',
 'old',
 'HPs',
 'used',
 'to',
 'be']

In [0]:
filtered_sentence = [w for w in word_tokens if not w in stop_words]

In [17]:
filtered_sentence

['It', 'Good', 'functionality', ',', 'durable', 'like', 'old', 'HPs', 'used']

In [0]:
def unique_words(str1):
  str1= str1.lower()
  word_tokens= tokenizer.tokenize(str1)
  filtered= [w for w in word_tokens if not w in stop_words]
  return set(filtered)

In [32]:
unique_words(str1)

{'durable', 'functionality', 'good', 'hps', 'like', 'old', 'used'}

In [0]:
df= amazon.iloc[0:500]

In [59]:
df['Unique Words']= df.reviewText.apply(unique_words)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
df.head()

       reviewerID  ...                                       Unique Words
0  A32T2H8150OJLU  ...  {use, good, running, set, searched, counterint...
1  A3MAFS04ZABRGO  ...  {go, ii, especially, love, broken, please, for...
2  A1F1A0QQP2XVH5  ...  {giving, years, good, hard, cheaper, functions...
3   A49R5DBXXQDE5  ...  {calculations, 10, key, performance, find, stu...
4  A2XRMQA6PJ5ZJ8  ...  {use, years, hardware, calculations, 34, sprea...

[5 rows x 10 columns]

In [0]:
bag_of_words= set()

In [0]:
for i in range (df.shape[0]):
  bag_of_words= bag_of_words | (df['Unique Words'][i])

In [68]:
len(bag_of_words)

4475

In [0]:
from itertools import combinations

In [72]:
combi = list(combinations(bag_of_words, 2))
len(combi)

10010575

In [0]:
from gensim.models import Word2Vec
from nltk.util import ngrams

In [0]:
corpus = list(ngrams(bag_of_words, 5))

In [0]:
model = Word2Vec(corpus, size=100, window=5, min_count=1, workers=4)

In [81]:
similarity = []
for i in range(len(combi)):
  similarity.append(model.similarity(combi[i][0], combi[i][1]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated `similarity` (Method will be removed in 4.0.0, use self.wv.similarity() instead).
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

In [0]:
Combination_Similarities = pd.DataFrame(list(zip(combi, similarity)), columns=['Combinations', 'Similarity Score'])

In [83]:
Combination_Similarities.head()

          Combinations  Similarity Score
0           (reove, l)         -0.120484
1         (reove, 200)         -0.052216
2    (reove, sturdier)         -0.029112
3  (reove, complexity)          0.096441
4      (reove, safari)         -0.001332